* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {    
    color: #333;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.modal-container {
    background: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
.btn-login,.btn-save{
    width: 300px;
    margin-top: 30px;
}
.change{
    margin-top: 40px;
}
.link-change{
    text-decoration: none;
    font-size: 1.4rem;
    color: #aaa;
    background-color: #eee;
    padding: 15px 50px;
    border-radius: 5px;
}
.form {
    width: 380px;
    min-height: 320px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 5px 5px 10px #b3b3b3;
}
.form-login, .form-change{
    display: none;
}
.heading {
    font-size: 2.2rem;
}

.form-group {
    margin-top: 20px;
}
.icon{
    margin-right: 5px;
    font-size: 1.4rem;
}
.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 25px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
    color: red;
    margin-top: 10px;
}


.btn:hover {
    background-color: #1ac7b6;
}
.open{
    display: block;
}
.hide{
    display: none;
}

@media (max-width: 1023px){
    .form-group {
        display: grid;
    }
    .icon {
        display: none;
    }
    .form-label {
        margin-bottom: 10px;
    }
}